/*----- Boxed -----*/

@media (min-width: 1025px){
	.boxed .page{
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.boxed{
		background:#e1e8ef !important;
	}
	.boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding: 1.2rem 1.8rem 1.2rem;
	}
	.boxed .sticky-pin .horizontal-main {
		box-shadow: 0 2px 8px 0 rgba(40,37,89,.2);
		background: #160d27;
		max-width: 1170px;
	}
	.boxed .horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.boxed .navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.boxed .vh {
		height: 100vh;
	}
	.boxed .navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
}
/*Light-boxed */

@media (min-width: 1025px){
	.light-mode.boxed .page{
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.light-mode.boxed{
		background:#e1e8ef !important;
	}
	.light-mode.boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding: 1.2rem 1.8rem 1.2rem;
	}
	.light-mode.boxed .sticky-pin .horizontal-main {
		box-shadow: 0 2px 8px 0 rgba(40,37,89,.2);
		background: #160d27;
		max-width: 1170px;
	}
	.light-mode.boxed .horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.light-mode.boxed .navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.light-mode.boxed .vh {
		height: 100vh;
	}
	.light-mode.boxed .navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
}
/*Dark-Boxed*/

@media (min-width: 1025px){
	.dark-mode.boxed .page{
		max-width:1170px;
		margin:0 auto;
		background:#110725;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.dark-mode.boxed{
		background:#211635 !important;
	}
	.dark-mode.boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding: 1.2rem 1.8rem 1.2rem;
	}
	.dark-mode.boxed .sticky-pin .horizontal-main {
		box-shadow: 0 2px 8px 0 rgba(40,37,89,.2);
		background: #160d27;
		max-width: 1170px;
	}
	.dark-mode.boxed .horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.dark-mode.boxed .navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.dark-mode.boxed .vh {
		height: 100vh;
	}
	.dark-mode.boxed .navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
	
}
/*--- Sticky Header -----*/

.sticky-header .sticky {
  width:100%;
}
.sticky-header .sticky-pin {
  position: fixed;
  top: 0;
  width:100%;
  z-index:9999;
}
.sticky-header .sticky-pin .horizontal-main.hor-menu{
	margin-top:0;
	z-index:9999;
}
/*light-sticky*/

.light-mode .sticky-header .sticky {
  width:100%;
}
.light-mode .sticky-header .sticky-pin {
  position: fixed;
  top: 0;
  width:100%;
  z-index:9999;
}
.light-mode .sticky-header .sticky-pin .horizontal-main{
	box-shadow: 0 2px 17px 2px #c2bad2;
    background: #fff;
}
.light-mode .sticky-header .sticky-pin .horizontal-main.hor-menu{
	margin-top:0;
	z-index:9999;
}
/*Dark-sticky*/

.dark-mode .sticky-header .sticky {
  width:100%;
}
.dark-mode .sticky-header .sticky-pin {
  position: fixed;
  top: 0;
  width:100%;
  z-index:9999;
}
.dark-mode .sticky-header .sticky-pin .horizontal-main{
	box-shadow: 0 2px 17px 2px #c2bad2;
    background: #090315;
}
.dark-mode .sticky-header .sticky-pin .horizontal-main.hor-menu{
	margin-top:0;
	z-index:9999;
}

/*---- Sticky Header Boxed ----*/

.sticky-boxed .sticky {
  width:100%;
}
.sticky-boxed .sticky-pin {
  position: fixed;
  top: 0;
  width:100%;
  z-index:9999;
}
.sticky-boxed .sticky-pin .horizontal-main{
	box-shadow:0px 8px 14.72px 1.28px rgb(180, 202, 222,0.4);
	background:#fff;
}
.sticky-boxed .sticky-pin .horizontal-main.hor-menu{
	margin-top:0;
	z-index:9999;
}
@media (min-width: 1025px){
	.sticky-boxed .page{
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.sticky-boxed {
		background:#e1e8ef !important;
	}
	.sticky-boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding: 1.2rem 1.8rem 1.2rem;
	}
	.sticky-boxed .sticky-pin .horizontal-main {
		box-shadow: 0 2px 17px 2px #c2bad2;
		background: #fff;
		max-width: 1170px;
	}
	.sticky-boxed .horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.sticky-boxed .navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.sticky-boxed .vh {
		height: 100vh;
	}
	.sticky-boxed .navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}	
}
/*light-sticky-boxed*/	

.light-mode.sticky-boxed .sticky {
	width:100%;
}
.light-mode.sticky-boxed .sticky-pin {
	position: fixed;
	top: 0;
	width:100%;
	z-index:9999;
}
.light-mode.sticky-boxed .sticky-pin .horizontal-main{
	box-shadow:0px 8px 14.72px 1.28px rgb(180, 202, 222,0.4);
	background:#fff;
}
.light-mode.sticky-boxed .sticky-pin .horizontal-main.hor-menu{
	margin-top:0;
	z-index:9999;
}
@media (min-width: 1025px){
	.light-mode.sticky-boxed .page{
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.light-mode.sticky-boxed {
		background:#e1e8ef !important;
	}
	.light-mode .sticky-boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding: 1.2rem 1.8rem 1.2rem;
	}
	.light-mode.sticky-boxed .sticky-pin .horizontal-main {
		box-shadow: 0 2px 17px 2px #c2bad2;
		background: #fff;
		max-width: 1170px;
	}
	.light-mode.sticky-boxed .horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.light-mode.sticky-boxed .navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.light-mode.sticky-boxed .vh {
		height: 100vh;
	}
	.light-mode.sticky-boxed.navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
}
/*Dark-sticky-boxed*/

.dark-mode.sticky-boxed .sticky {
	width:100%;
}
.dark-mode.sticky-boxed .sticky-pin {
	position: fixed;
	top: 0;
	width:100%;
	z-index:9999;
}
.dark-mode.sticky-boxed .sticky-pin .horizontal-main{
	box-shadow:0px 8px 14.72px 1.28px rgb(180, 202, 222,0.4);
	background:#090315;
}
.dark-mode.sticky-boxed .sticky-pin .horizontal-main.hor-menu{
	margin-top:0;
	z-index:9999;
}
@media (min-width: 1025px){
	.dark-mode.sticky-boxed .page{
		max-width:1170px;
		margin:0 auto;
		background:#110725;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.dark-mode.sticky-boxed {
		background:#211635 !important;
	}
	.dark-mode.sticky-boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding: 1.2rem 1.8rem 1.2rem;
	}
	.dark-mode.sticky-boxed .sticky-pin .horizontal-main {
		box-shadow: 0 2px 17px 2px #090315;
		background: #090315;
		max-width: 1170px;
	}
	.dark-mode.sticky-boxed.horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.dark-mode.sticky-boxed .navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.dark-mode.sticky-boxed .vh {
		height: 100vh;
	}
	.dark-mode.sticky-boxed.navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
}


/*---- Left-menu Boxed----- */
@media (min-width: 1025px){
	.left-menu-boxed .page-main {
		z-index:0;
	}
	.left-menu-boxed .page{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.left-menu-boxed{
		background:#e1e8ef !important
	}
	.left-menu-boxed .navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
	/*Left-toggle-menu */
	.left-menu-boxed .app-header{
		width:1170px;
		margin:0 auto;
	}
	.left-menu-boxed .app-sidebar{
		position:absolute !important;
	}
	.left-menu-boxed .second-sidemenu {
		left: auto !important;
		margin-left: 100px;
	}
}
/*light-boxed*/
@media (min-width: 1025px){
	.light-mode.left-menu-boxed .page-main {
		z-index:0;
	}
	.light-mode.left-menu-boxed .page{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.light-mode.left-menu-boxed{
		background:#e1e8ef !important
	}
	/*Left-toggle-menu */
	.light-mode .left-menu-boxed .app-header{
		width:1170px;
		margin:0 auto;
	}
	.light-mode .left-menu-boxed .app-sidebar{
		position:absolute !important;
	}
}
/*Dark-boxed*/
@media (min-width: 1025px){
	.dark-mode.left-menu-boxed .page-main {
		z-index:0;
	}
	.dark-mode.left-menu-boxed .page{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		max-width:1170px;
		margin:0 auto;
		background:#110725;
		position:relative;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.dark-mode.left-menu-boxed{
		background:#211635 !important
	}
	/*Left-toggle-menu */
	.dark-mode.left-menu-boxed .app-header{
		width:1170px;
		margin:0 auto;
	}
	.dark-mode.left-menu-boxed .app-sidebar{
		position:absolute !important;
	}
}


/*---- Dark Left menu----- */
.dark-left-menu .app-sidebar.toggle-sidebar{
	background: #090315;
    border-right: 1px solid #332350;
}
.dark-left-menu .app-sidebar__user-name{
	color:#fff;
}
.dark-left-menu .toggle-menu.side-menu li ul li a{
	border-bottom: 0px solid #332350;
	color:#fff;
}
.dark-left-menu .toggle-menu.side-menu li ul li a{
	border-top:0 ;
}
.dark-left-menu .toggle-menu.side-menu li ul li:last-child a{
	border-bottom:0;
}
.dark-left-menu .toggle-menu.side-menu .slide.is-expanded [data-toggle='slide'], .dark-left-menu .toggle-menu.side-menu .slide .side-menu__item.active{
	border-bottom: 1px solid #332350;
}
.dark-left-menu .app-sidebar .toggle-menu .side-menu__item{
	color:#fff;
}
.dark-left-menu .side-menu__item{
	border-bottom:1px solid #332350;
}
.dark-left-menu .toggle-menu.side-menu li a {
    border-top: 0px solid #332350;
}
.dark-left-menu .toggle-menu.side-menu li:last-child {
    border-bottom:1px solid #332350;
}
.dark-left-menu .slide-menu .slide-item.active {
    color: #fff;
	background: #090315;
}
.dark-left-menu .side-menu__item.active, .dark-left-menu .side-menu__item:hover, .dark-left-menu .side-menu__item:focus{
	color: #fff;
	background: #8645ff;
}
.dark-left-menu .side-menu__item.active .side-menu__icon, .dark-left-menu .side-menu__item:hover .side-menu__icon, .dark-left-menu .side-menu__item:focus .side-menu__icon{
	color:#fff;
}
.dark-left-menu .side-menu .side-menu__icon{
	color:#fff;
}
.dark-left-menu .slide-menu .slide-item:hover{
	color:#9a64ff  ;
}
.dark-left-menu .navbar {
   box-shadow: 0 2px 17px 2px #0903154f;
}
.dark-left-menu .header-1 .navbar{
	box-shadow:none;
}
.dark-left-menu .header-2 .navbar{
	box-shadow:none;
}
.dark-left-menu .header-3 .navbar{
	box-shadow:none;
}
.dark-left-menu .resp-vtabs ul.resp-tabs-list{
	background-color: #090315;
    border: 1px solid #332350;
	border-right:0px;
	color:#fff;
}
.dark-left-menu .resp-vtabs li.active {
    background: #0f071d !important;
    border-right: 0 !important;
    color: #fff;
}
.dark-left-menu .second-sidemenu {
    background: #0f071d;
    box-shadow: 0px 8px 17px #1e1331;
}
.dark-left-menu .resp-vtabs .resp-tabs-list li{
	border-right: 1px solid #332350 !important;
	border-bottom:1px solid #332350 !important;
}
.dark-left-menu .resp-vtabs li:hover, .dark-left-menu .resp-vtabs li.resp-tab-active {
    background: #0f071d !important;
    color: #9c68ff;
    border-right: 0px solid #332350 !important;
}
.dark-left-menu .resp-vtabs .resp-tab-content h6, .dark-left-menu .second-sidemenu .slide-item, .dark-left-menu .side-menu .slide.submenu a{
	color:#fff !important;
}
.dark-left-menu .second-sidemenu .side-menu__item.active, .dark-left-menu .second-sidemenu .side-menu__item:hover, .dark-left-menu .second-sidemenu .side-menu__item:focus{
	background:none;
	border:none;
}
.dark-left-menu .second-sidemenu .side-menu__item{
	border-bottom:none;
}
.dark-left-menu .slide-item.active, .dark-left-menu .slide-item:hover, .dark-left-menu .slide-item:focus{
	color: #9c68ff !important;
}

/*----- Leftmenu  Dark-Boxed ----*/
@media (min-width: 1025px){
	.dark-left-menu-boxed .page-main {
		z-index:0;
	}
	.dark-left-menu-boxed .page{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.dark-left-menu-boxed{
		background:#e1e8ef !important
	}
	
/*Left-toggle-menu */
	.dark-left-menu-boxed .app-header{
		width:1170px;
		margin:0 auto;
	}
	.dark-left-menu-boxed .navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
	.dark-left-menu-boxed .app-sidebar{
		position:absolute !important;
	}
	.dark-left-menu-boxed .second-sidemenu {
		left: auto !important;
		margin-left: 100px;
	}
}
.dark-left-menu-boxed .slide-menu .slide-item.active {
    color: #9a64ff;
}
.dark-left-menu-boxed .slide-menu .slide-item:hover{
	color:#9a64ff ;
}
.dark-left-menu-boxed .resp-vtabs ul.resp-tabs-list{
	background-color: #090315;
    border: 1px solid #332350;
	border-right:0px;
	color:#fff;
}
.dark-left-menu-boxed .resp-vtabs li.active {
    background: #0f071d !important;
    border-right: 0 !important;
    color: #fff;
}
.dark-left-menu-boxed .second-sidemenu {
    background: #0f071d;
    box-shadow: 0px 8px 17px #1e1331;
}
.dark-left-menu-boxed .resp-vtabs .resp-tabs-list li{
	border-right: 1px solid #332350 !important;
	border-bottom:1px solid #332350 !important;

}
.dark-left-menu-boxed .resp-vtabs li:hover, .dark-left-menu-boxed .resp-vtabs li.resp-tab-active {
    background: #0f071d !important;
    color: #9c68ff;
    border-right: 0px solid #332350 !important;
}
.dark-left-menu-boxed .resp-vtabs .resp-tab-content h6, .dark-left-menu-boxed .second-sidemenu .slide-item, .dark-left-menu-boxed .side-menu .slide.submenu a{
	color:#fff !important;
}
.dark-left-menu-boxed .second-sidemenu .side-menu__item.active, .dark-left-menu-boxed .second-sidemenu .side-menu__item:hover, .dark-left-menu-boxed .second-sidemenu .side-menu__item:focus{
	background:none;
	border:none;
}
.dark-left-menu-boxed .second-sidemenu .side-menu__item{
	border-bottom:none;
}
.dark-left-menu-boxed .slide-item.active, .dark-left-menu-boxed .slide-item:hover, .dark-left-menu-boxed .slide-item:focus{
	color: #9c68ff !important;
}

/*light-boxed*/
@media (min-width: 1025px){
	.light-mode.dark-left-menu-boxed .page-main {
		z-index:0;
	}
	.light-mode.dark-left-menu-boxed .page{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		max-width:1170px;
		margin:0 auto;
		background:#f6f9fc;
		position:relative;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.light-mode.dark-left-menu-boxed{
		background:#e1e8ef !important
	}
	/*Left-toggle-menu */
	.light-mode.dark-left-menu-boxed .app-header{
		width:1170px;
		margin:0 auto;
	}
	.light-mode.dark-left-menu-boxed .app-sidebar{
		position:absolute !important;
	}
}
.light-mode.dark-left-menu-boxed .slide-menu .slide-item.active {
    color: #9a64ff;
}
.light-mode.dark-left-menu-boxed .slide-menu .slide-item:hover{
	color:#9a64ff ;
}
/*Dark-boxed*/
@media (min-width: 1025px){
	.dark-mode.dark-left-menu-boxed .page-main {
		z-index:0;
	}
	.dark-mode.dark-left-menu-boxed .page{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		max-width:1170px;
		margin:0 auto;
		background:#110725;
		position:relative;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
	body.dark-mode.dark-left-menu-boxed{
		background:#211635 !important
	}
	/*Left-toggle-menu */
	.dark-mode.dark-left-menu-boxed .app-header{
		width:1170px;
		margin:0 auto;
	}
	.dark-mode.dark-left-menu-boxed .app-sidebar{
		position:absolute !important;
	}
	.dark-mode.boxed .horizontalMenu>.horizontalMenu-list>li>a{
		padding:1.2rem 1.8rem 1.2rem !important;
	}

}
.dark-mode.dark-left-menu-boxed .slide-menu .slide-item.active {
    color: #69E781;
}
.dark-mode.dark-left-menu-boxed .slide-menu .slide-item:hover{
	color:#69E781 ;
}
@media only screen and (max-width: 1162px) and (min-width: 992px){
	.dark-mode.boxed.horizontalMenu>.horizontalMenu-list>li>a {
		margin: 0px !important;
		padding: 1rem 0.66rem 1rem !important;
	}
}
.dark-left-menu-boxed .app-sidebar.toggle-sidebar{
	background: #090315;
    border-right: 1px solid #332350;
}
.dark-left-menu-boxed .app-sidebar__user-name{
	color:#fff;
}
.dark-left-menu-boxed .toggle-menu.side-menu li ul li a{
	border-bottom: 0px solid #332350;
	color:#fff;
}
.dark-left-menu-boxed .toggle-menu.side-menu li ul li a{
	border-top:0;
}
.dark-left-menu-boxed .toggle-menu.side-menu li ul li:last-child a{
	border-bottom:0 !important;
}
.dark-left-menu-boxed .toggle-menu.side-menu .slide.is-expanded [data-toggle='slide'], .dark-left-menu-boxed .toggle-menu.side-menu .slide .side-menu__item.active{
	border-bottom: 1px solid #332350;
}
.dark-left-menu-boxed .app-sidebar .toggle-menu .side-menu__item{
	color:#fff;
}
.dark-left-menu-boxed .side-menu__item{
	border-bottom: 0px solid #332350;;
}
.dark-left-menu-boxed .toggle-menu.side-menu li a {
    border-top: 1px solid #332350;
}
.dark-left-menu-boxed .toggle-menu.side-menu li:last-child {
    border-bottom: 0px solid #332350;
}
.dark-left-menu-boxed .slide-menu .slide-item.active {
    color: #fff;
	background: #090315;
}
.dark-left-menu-boxed .side-menu__item.active, .dark-left-menu-boxed .side-menu__item:hover, .dark-left-menu-boxed .side-menu__item:focus{
	color: #fff;
	background: #8645ff;
}
.dark-left-menu-boxed .side-menu__item.active .side-menu__icon, .dark-left-menu-boxed .side-menu__item:hover .side-menu__icon, .dark-left-menu-boxed .side-menu__item:focus .side-menu__icon{
	color:#fff;
}
.dark-left-menu-boxed .side-menu .side-menu__icon{
	color:#fff;
}
.dark-left-menu-boxed .slide-menu .slide-item:hover{
	color:#9a64ff  ;
}
.dark-left-menu-boxed .navbar {
    box-shadow: 0 2px 17px 2px #0903154f;
}
.dark-left-menu-boxed .header-1 .navbar{
	box-shadow:none;
}
.dark-left-menu-boxed .header-2 .navbar{
	box-shadow:none;
}
.dark-left-menu-boxed .header-3 .navbar{
	box-shadow:none;
}